body {
    font-family:Coda;
    background-color: #FFF5EE;
    color:#0B59FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Alfa Slab One";
    text-align:center;
}
h1 {
    font-size: 30pt;
}

h2 {
    margin: 0.1em;
}

header {
    text-align:center;
}

#hero, footer {
    border: 2px solid #0B59FF;
    background-color:#DA70D6;
    text-align:center;
    padding:10px;
}

/* Hero Section */

#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hobbies Section */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(even) {
    color:red;
}

/* Gallery Section */

#gallery {
    border: 2px solid #0B59FF;
    margin-bottom:2rem;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}

/* Literature Section */
#lit {
    border: 2px solid #0B59FF;
    margin-bottom:2rem;
}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/* Dropcaps */

#lit div p:first-child:first-letter {
    color:red;
    float:left;
    font-size:3em;
    padding:.25em;
    margin-right:.25em;
    line-height:.65;
    border: 4px outset #0B59FF;
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

/* Tablet Size */
@media screen and (min-width60em) {
   figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
   } 

   figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
   }

   figure img {
    width: 100%;
   }

   #lit div {
    max-width: 100%;
    columns: 20rem;
   }

   figure iframe {
    width: 100%;
   }
} 

/* Large Screen Size */

@media screen and (min-width:100em) {
    
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}

/* Video Section */

#video {
    border: 2px solid #0B59FF;
    margin-bottom:2rem;
}

#video {
    text-align: center;
}

/* Contact Form */

#formElements {
    display:grid;
    row-gap:.5em;
}

#contact {
    padding:1rem;
    max-width:600px;
    margin:2rem auto;
}

fieldset {
    border:2px solid;
    margin-top:1em;
    margin-bottom:1em;
    border-radius:2rem;
}

legend {
    background-color:#0B59FF;
    color: white;
    padding:.5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size:1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color:#0B59FF;
    color: white;
    border:1px solid red;
    max-width:400px;
    width:50%;
    justify-self: center;
}